[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
lxml = "*" 
haversine = "*"
flask = "*"
googlemaps = "*"
flake8 = "*"
pytest = "*"
pytest-cov = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"
